
html {
    margin:0;
    padding:0;
    background:#fff3df;
    background-size: 
        2em 2em, 
        3em 3em, 
        4em 4em, 
        5em 5em;
    background-image: 
        radial-gradient(rgb(255, 255, 255) 1px, transparent 1px), 
        radial-gradient(rgba(255, 219, 158, 0.98) 1px, transparent 1px), 
        radial-gradient(rgba(164, 223, 237, 0.41) 1px, transparent 1px), 
        radial-gradient(rgba(255, 180, 223, 0.32) 1px, transparent 1px);
}
body {
    max-width: 51.0em;
    color:black;
    font-family: "source-sans-pro",sans-serif;
    font-weight:300;
    font-size: 1em;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
}

h1 {
    color:#222222;
    font-size: 9.12em;
    line-height: .77em;
    letter-spacing: -.01em;
    font-family: "source-serif-pro", serif;
    font-weight: 900;
    margin: 1.5em 0 0 0;
    padding: 0;
}

h2 {
    color:#00000;
    font-size: 4em;
    font-family: "source-serif-pro", serif;
    font-weight:900;
    border-top: 1px dotted grey;
    line-height: .78em;
    margin: .87em 0 .21em 0;
    padding: .5em 0 0 0;

}

h3 {
    font-family: "source-serif-pro", serif;
    color: #005a9b;
    font-size:1.33em;
    font-weight: 700;
    line-height: 1.1em;
    margin: 1em 0 .25em 0;
    letter-spacing: .02em;
}

h4 {
    
    color: #000000;
    font-weight: 600;
    line-height: 1.0;
    margin: 1em 0 .25em 0;
}

a {
    color: black;
    text-decoration:none;
    transition: all 0.25s ease-out;
}

a:hover {
    color:#005a9b;
}

b, strong {
    font-weight: 600;
}

ul {
    padding:0 0 0 1em;
}

li {
    margin:.25em 0 0 0;
}

p {
    margin: 0;
}

.dates {
    color: #005a9b;
    letter-spacing: 0.04em;
    font-size: .75em;
    font-style: italic;
    font-weight: 500;
    border: 1px solid;
    border-radius: .15em;
    padding: .1em .3em .1em .3em;
    margin-right: .5em;
    white-space: nowrap;
}

//.dates::after {
    content:"\000A";
    white-space: pre;
}


#workhistory .dates {
    margin: 0 0 0 .33em;
}

#about li {
    border: 1px solid #005a9b;
    border-radius: .2em;
    line-height: 2em;
    padding: 0 .5em;
    margin:0 0 .5em 0;
    display: inline-block;
    transition: all 0.25s ease-out;

}

#about li:hover {
    border-bottom: .25em solid #005a9b;
    margin: -.25em auto .56em auto;
}

#about li:active {
    background: #f4debb;
    border-bottom: 1px solid #005a9b;
    margin:0 0 .5em 0;
}

#about p {
    margin-bottom: .5em;
} 

.icons {
    font-size:1.5em;
    color:#005a9b;
    margin: 0 .25em 0 0;
    vertical-align: -.17em;
}

.intro {
    color:#005a9b;
    font-size:3em;
    font-weight:100;
    line-height: 1em;
    margin: .4em 0 0 0;
    
}

#bigbold {
    color:#3db8e6;
    font-size:1em;
    font-weight: 900;
    vertical-align: -.05em;
    margin:0 .1em 0 .15em;
}

.container {
    display: grid;
    padding: 0em 4em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2em;
    grid-template-areas: 
        "header header"
        "about history"
        "portfolio portfolio"
        "footer footer"
        ;
}

#logo-header {
    grid-area: header;    
}

#header {
    grid-area: header;
    color:black;
    margin-top:4em;
}

#header p {
    margin-bottom: .5em;
}

#about {
    grid-area: about;
    margin-bottom: -1em;
}

#workhistory {
    grid-area: history;
}

#portfolio {
    grid-area: portfolio;
}

.portfolio-grid {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2em;
    margin: 1.5em 0 0 0;
}

.portfolio-item {
    min-width:200px;
    max-width:250px;
    border: 1px solid #fff3df;
    padding: 1em 1em .75em 1em;
    margin: 0 -1em;
    transition: all 0.25s ease-out;
    
}

.portfolio-item p {
    margin-bottom: .15em;
}

.portfolio-item:hover {
    border-color: #005a9b;
    border-width: 1px 1px .5em 1px;
    margin-top:-.5em;
}

.portfolio-item:active {
    background: #f4debb;
    border-bottom: 1px solid #005a9b;
    margin-top:-1em;
}

.portfolio-thumbnail {
    margin: 0 0 -.5em 0;
}

.portfolio-thumbnail img {
    width:100%;
    height:auto;
    border: 1px solid rgba(255, 159, 0, 0.15);
}

#footer {
    border-top: 1px dotted grey;
    padding: 1em 0 0 0;
    margin: 4em 0 0 0;
    grid-area: footer;
}

#footer p {
    float:right;
    font-size: .8em;
    color:black;
}

#footer img {
    height:4em;
    float:left;
    margin: -1em;
}

.big-image {
    margin: 2em 0 0 0;
    height: 100%;
}

.big-image img {
    width: 100%;
    border: 1px solid rgba(0, 90, 155, 0);
    display: block;
    margin:auto;
    padding: 1em;
    margin: -1em;
    transition: all 0.25s ease-out;
}

.big-image img:hover {
    border: 1px solid #f7e2be;
}

.titlebar {
    left:0;
    width:100%;
    border-bottom: 1px solid #f4debb;
    padding: .5em;
    background: #fff3df;
    overflow: hidden;
    position: fixed;
    text-align: center;
    z-index: 999;
}

.half-width {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

.third-width {
    display:grid;
    grid-template-columns: 1fr 1fr 1FR;
    grid-column-gap: 2em;
}

.half-height {
    display:grid;
    grid-template-rows: 1fr 1fr;
}

.buttons {
    padding: .25em .5em;
    border-radius:.25em;
    margin:.5em 0 0 0;
    display:inline-block;
    border: 1px solid #005a9b;
    transition: all 0.25s ease-out;
}

.buttons::before {
    content: "🔗 ";
}

.buttons:hover {
    border-bottom: 5px solid #005a9b;
    margin-top: 4px;
}

.buttons:active {
    background: #f4debb;
    border-bottom: 1px solid #005a9b;
    margin:.5em 0 0 0;
}

@media (max-width: 635px) {
    
    .container {
        padding: 2em;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "about"
            "history"
            "portfolio"
            "footer";
    }
    
    .intro {
        border-bottom: 1px dotted grey;
        padding-bottom: 1.25em;
        margin-bottom: .5em;
        font-size: 1.7em;
    }
    
    #about {
        margin:0;
    }
    
    h1 {
        font-size:4em;
    }
    
    .intro {
        font-size:1.35em;
    }
    
    h2 {
        margin:.5em 0 0 0;
        padding-top:0em;
        border:none;
        font-size: 3.25em;
    }
    
    p {
        margin-top: 1em;
    }
    
    .portfolio-item p {
        margin-top: 0;
    }
    
    h2::after {
        content: "...";
        color:#f4debb;
        font-size:.75em;
        position: relative;
        top:.1em;
        float:right;
    }
    
    .hidden {
        display:none;
    }
    
    .hidden:target {
        display: inherit;
    }

    .hidden:before {
        content: "";
        display: block;
        height: 4em;
        margin: -4em 0 0 0;
}
    
    .portfolio-grid {
        grid-template-columns: 1fr;
    }
    
    .portfolio-item {
        max-width: 100%;
    }
    
    #footer {
        font-size: 0.8em;
    }
    
    #footer {
        padding:0;
    }
    
    #footer img {
        top:.8em;
        position: relative;
    }
    
}

@media (min-width: 635px) and (max-width: 775px) {
    
    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
    }

}

@media (min-width: 1275px) {
    
    body {
        max-width:100vw;
    }
    
    .container {
        grid-template-columns: .5fr .5fr 1fr;
        grid-template-areas: 
            "header header portfolio"
            "about history portfolio"
            "footer footer portfolio"; 
        padding: 4em;
        margin:0 auto;
    }
    
    #logo-header {
        grid-area: header;
    }
        
    #about {
        grid-area: about;
    }
    
    #workhistory {
        grid-area: history;
    }
    
    #portfolio {
        grid-area: portfolio;
        background: #222222;
        color:white;
        padding: 0em 4em 2em 4em;
        margin:-4em -4em -4em 2em;
        background-size: 
        2em 2em, 
        3em 3em, 
        4em 4em, 
        5em 5em;       
    background-image: 
        radial-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px), 
        radial-gradient(rgba(255, 219, 158, 0.06) 1px, transparent 1px), 
        radial-gradient(rgba(164, 223, 237, 0.1) 1px, transparent 1px), 
        radial-gradient(rgba(255, 180, 223, 0.07) 1px, transparent 1px);
    }
    
    #header {
        grid-area: portfolio;
    }
    
    #portfolio h2 {
        border: none;
        margin: .25em 0 .25em 0;
        color:#fff3df;
    }
    
    #portfolio h3 {
        color:#fff3df;
    }
    
    #portfolio p {
        color: white;
    }
    
    .portfolio-grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .portfolio-item {
        border-color: #222222;
    }
    
    .portfolio-item:hover {
        border-color: #479cd9;
    }
    
    .portfolio-item .dates {
        color:#f4debb;
    }
    
    .portfolio-item img{
        border:none;
    }

}

@media (min-width: 1495px) {
    
    .portfolio-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

