
html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-size:16px;
    margin:0;
    padding:0;
    background:#fff3df;
    background-size: 
        2em 2em, 
        3em 3em, 
        4em 4em, 
        5em 5em;
    background-image: 
        radial-gradient(rgb(255, 255, 255) 1px, transparent 1px), 
        radial-gradient(rgba(255, 219, 158, 0.98) 1px, transparent 1px), 
        radial-gradient(rgba(164, 223, 237, 0.41) 1px, transparent 1px), 
        radial-gradient(rgba(255, 180, 223, 0.32) 1px, transparent 1px);
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}

html::-webkit-scrollbar { width: 0 !important }

body {
    max-width: 51.0em;
    color:black;
    font-family: "source-sans-pro",sans-serif;
    font-weight:300;
    font-size: 1em;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
}

h1 {
    color:#222222;
    font-size: 9.12em;
    line-height: .77em;
    letter-spacing: -.01em;
    font-family: "source-serif-pro", serif;
    font-weight: 900;
    margin: 1.5em 0 0 0;
    padding: 0;
}

h2 {
    color:#00000;
    font-size: 4em;
    font-family: "source-serif-pro", serif;
    font-weight:900;
    border-top: 1px dotted grey;
    line-height: 1em;
    margin: .87em 0 .21em 0;
    padding: .5em 0 0 0;

}

h3 {
    font-family: "source-serif-pro", serif;
    color: #005a9b;
    font-size:1.33em;
    font-weight: 700;
    line-height: 1.1em;
    margin: 1em 0 .25em 0;
    letter-spacing: .02em;
}

h4 {
    
    color: #000000;
    font-weight: 600;
    line-height: 1.0;
    margin: 1em 0 .25em 0;
}

a {
    color: black;
    text-decoration:none;
    transition: all 0.25s ease-out;
}

a:hover {
    color:#005a9b;
}

b, strong {
    font-weight: 600;
}

ul {
    padding:0 0 0 1em;
}

li {
    margin:.25em 0 0 0;
}

p {
    margin: 0;
}

#workhistory h2 {
    
}

#workhistory ul {
    padding:0;
    margin:1.5em 0 0 0;
    list-style: none;
    line-height: 1em;
    white-space: nowrap;
}

#workhistory li {
    margin-bottom: .5em;
}

.dates {
    color: #005a9b;
    border-bottom: 1px dotted #005a9b;
    font-size: 1.25em;
    font-weight: 200;
    width:50%;
    padding: 0em 0 .66em 0;
    margin: -.33em 0 1em 0;
}

.clients {
    font-weight: 700;
    letter-spacing: .02em;
    color: black;
    list-style: none;
}

.clients::after {
    content: " : ";
}

#about li {
    border: 1px solid #005a9b;
    border-radius: .2em;
    line-height: 2em;
    padding: 0 .5em;
    margin:0 0 .5em 0;
    display: inline-block;
    transition: all 0.25s ease-out;

}

#about li:hover {
    border-bottom: .25em solid #005a9b;
    margin: -.25em auto .56em auto;
}

#about li:active {
    background: #f4debb;
    border-bottom: 1px solid #005a9b;
    margin:0 0 .5em 0;
}

#about p {
    margin-bottom: .5em;
} 

.icons {
    font-size:1.5em;
    color:#005a9b;
    margin: 0 .25em 0 0;
    vertical-align: -.17em;
}

.container {
    display: grid;
    padding: 0em 4em;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 2em;
    grid-template-areas: 
        "about history"
        "portfolio portfolio"
        "footer footer"
        ;
}

#logo-header {
    grid-area: header;
}

#header {
    color:black;
    grid-area: portfolio;
}

#header p {
    margin-bottom: .5em;
}

#about {
    grid-area: about;
    margin-bottom: -1em;
}

#workhistory {
    grid-area: info;
}

#footer {
    border-top: 1px dotted grey;
    padding: 1em 0 0 0;
    margin: 4em 0 0 0;
    grid-area: footer;
}

#footer p {
    float:right;
    font-size: .8em;
    color:black;
}

#footer img {
    height:4em;
    float:left;
    margin: -1em;
}

.big-image {
    margin: 2em 0 0 0;
}

.big-image img {
    max-width: 100%;
    border: 1px solid rgba(0, 90, 155, 0);
    display: block;
    padding: 1em;
    margin: -1em;
    transition: border 0.25s ease-out;
    max-height:800px;

}

.big-image img:hover {
    border: 1px solid #f7e2be;
}

.titlebar {
    left:0;
    top:0;
    right:0;
    width:100%;
    border-bottom: 1px solid #f4debb;
    padding: .5em .5em .5em 0em;
    background: #fff3df;
    overflow: hidden;
    position: fixed;
    text-align: center;
    z-index: 999;
}

.half-width {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
}

.third-width {
    display:grid;
    grid-template-columns: 1fr 1fr 1FR;
    grid-column-gap: 2em;
}

.half-height {
    display:grid;
    grid-template-rows: 1fr 1fr;
}

.buttons {
    padding: .25em .5em;
    border-radius:.25em;
    margin:.5em 0 0 0;
    display:inline-block;
    border: 1px solid #005a9b;
    transition: all 0.25s ease-out;
}

.icons {
    width:.75em;
    vertical-align: -.16em;
    margin-right: .4em;
}

.buttons:hover {
    border-bottom: 5px solid #005a9b;
    margin-top: 4px;
}

.buttons:active {
    background: #f4debb;
    border-bottom: 1px solid #005a9b;
    margin:.5em 0 0 0;
}

#content-container {
    grid-area: content;
}

#content-container::-webkit-scrollbar { width: 0 !important }

@media (max-width: 635px) {
    
    .container {
        padding: 2em;
        grid-template-columns: 1fr;
        grid-template-areas:
            "portfolio"
            "content"
            "footer";
    }
    
    #about {
        margin:0;
    }
    
    h2 {
        margin:1em 0 .25em 0;
        font-size: 2.7em;
    }
    
    #header {
        margin-top:1em;
        padding-top: 0;
    }
    
    .half-width {
        grid-column-gap:1em;
    }
    
    .third-width {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1em;
    }
    
    #footer {
        font-size:.8em;
    }
    
    
    
}

@media (min-width: 635px) {
    
    .container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "content"
            "portfolio"
            "footer"; 
        grid-row-gap: 1em;
    }
    
    h2 {
        border:none;
    }
    
    #content-container {
        display:grid;
        grid-template-columns:5fr 1fr;
        grid-column-gap:2em;
        grid-template-areas:
            "about info";
    }
    
    .dates {
        width:100%;
    }
    
}

@media (min-width: 1000px) {
    
    body {
        max-width:100vw;
    }
    
    .titlebar {
        display:none;
    }
    
    .container {
        grid-template-columns: 1fr 2fr;
        grid-template-areas: 
            "content portfolio"
            "content footer"; 
        grid-column-gap:5em;
        padding: 4em;
    }
    
    h2 {
        padding:0;
        margin:0 0 .25em 0;
        font-size:3em;
    }
    
    #content-container {
        display:block;
        position: sticky;
        top:0em;
        margin:-4em 0 -4em 0;
        padding-top:4em;
        padding-bottom: 0;
        height: 100vh;
        overflow-y: scroll;
        max-width:25em;
        box-sizing: border-box;
    }
    
    #workhistory {
        padding-bottom: 4em;
        margin-bottom: 0;
    }
    
    #about {
        border-bottom: 1px grey dotted;
        padding-bottom: 3em;
        margin-bottom: 1.5em;
    }
    
    #header {
        max-width:800px;
        margin: -2em auto 0 auto;
    }
    
    
    #footer {
        border:none;
    }
    
    #footer img {
        float:right;
        margin-right:0em;
        margin-top:-1.2em;
    }
    
    .dates {
        width:50%;
    }
            
}

@media (min-width: 1220px) {

    h2 {
        font-size:4em;
    }

}

